specification/latex/specification.aux
specification/latex/specification.pdf
specification/latex/specification.synctex.gz
specification/latex/specification.log
specification/latex/specification.bbl
specification/latex/specification.blg
specification/latex/specification.out
code/.idea
code/__pycache__
