reports/progress-report/progress.aux
reports/progress-report/progress.log
reports/progress-report/progress.synctex.gz
reports/progress-report/progress.toc
reports/progress-report/progress.bbl
reports/progress-report/progress.blg
reports/progress-report/progress.pdf
reports/progress-report/progresstalk.pdf
reports/progress-report/removed.txt
reports/progress-report/rough-draft.txt
reports/progress-report/site.txt
reports/specification/specification.aux
reports/specification/specification.log
reports/specification/specification.synctex.gz
reports/specification/specification.bbl
reports/specification/specification.blg
reports/specification/specification.pdf
reports/specification/specification.out
reports/specification/plan.txt
code/.idea
code/__pycache__

